* {
  color: black;
}

.info_left {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.info_sub {
  text-align: center;
  margin: 5%;
}

.info_theme {
  text-align: center;
}

.other_theme {
  margin-bottom: 40px;
}

.theme_add {
  text-align: left;
  background-color: gray;
  display:none;
}

.bg_col {
  background-color: white;
  padding: 30px;
}
