* {
  color: black;
}

.info_sub {
  text-align: center;
  background-color: #F9F9F9;
}

.info_theme {
  text-align: center;
}

.other_theme {
  margin-bottom: 40px;
}

.theme_add {
  text-align: left;
  background-color: gray;
  display:none;
}

.bg_col {
  background-color: white;
  padding: 30px;
}

.info_text {
  background-color: #CDF0EA;
  height: 300px;
  display: flex;
  align-items: center;
}
