* {
  color: black;
}

.info_sub {
  text-align: center;
}

.info_theme {
  text-align: center;
}

.other_theme {
  margin-bottom: 40px;
}

.theme_add {
  text-align: left;
  background-color: #F9F9F9;
  display:none;
}

.bg_col {
  background-color: white;
  padding: 30px;
}

.info_text {
  height: 300px;
  display: flex;
  align-items: center;
}

.info_img {
  background-image: url("./temp.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
